/**
*
* styles.styl
* Here you can @import every files needed from
* the different folders in styles
* example : @import "folder/file";
*
**/

//vendors
@import "vendors/example";

//utils
@import "utils/mixins";

//base styles
@import "base/reset";
@import "base/variables";
@import "base/typography";
@import "base/base";

//layout
@import "layout/grid";

//components
@import "components/button";

//pages
@import "pages/home";
